* {
    background-color: #d0e7f9; 
    margin: 10px;
    padding: 0px;
    font-family: 'Press Start 2P', cursive;
    color: #333333;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



h1 {
    font-size: 50px;
    color: #355070; 
    margin-bottom: 30px;
    text-shadow: 3px 3px 0px #ffad5f, 
                 6px 6px 0px #6d597a; 
}


button {
    background-color: #6aa6b6;
    border: 2px solid #333333;
    padding: 15px 30px;
    font-size: 16px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 2px 2px 0px #355070; 
}

button:hover {
    background-color: #a1c6ea; 
    color: #333333;
    box-shadow: 4px 4px 0px #333333;
}